.jumbotron{
  background-image: url("../img/landing.jpg");
}
}
h3{
  text-align: center;
}
#logo{
margin-left: auto;
margin-right: auto;
display: block;

}

/*.panel-footer{
//  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}*/

.break{
  background-image: url("../img/breakfast.jpg");
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  color: white;
}
.lunch{
  background-image: url("../img/lunch.jpg");
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  color: white;
}
.dinner{
  background-image: url("../img/dinner2.jpg");
  background-repeat: no-repeat;
  padding: 100px;
}

#we{
  color: white;
  text-align: center;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

.navigation{
  background-image: url("../img/foodsBg.jpg");
  background-repeat: no-repeat;

}


ul {
    list-style-type: none;
    margin: 220px;
    padding: 0;
    overflow: hidden;
    background-color: #DBDCD9;
}


li {
    display: block;
    color:black;
    text-align: center;
    padding: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 40px;
}

li:hover{
  background-color: white;
}

.w3-teal{
  background-image: url("../img/landing.jpg");
  background-size: contain;
  float: left;
}

.fastfood-images{
  display: none;
}
