.jumbotron{
  background-image: url("../img/landing.jpg");
}
}
h3{
  text-align: center;
}
#logo{
margin-left: auto;
margin-right: auto;
display: block;

}

panel-footer{
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.break{
  background-image: url("../img/breakfast.jpg");
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  color: white;
}
.lunch{
  background-image: url("../img/lunch.jpg");
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  color: white;
}
.dinner{
  background-image: url("../img/dinner2.jpg");
  background-repeat: no-repeat;
  padding: 100px;
}

#we{
  color: white;
  text-align: center;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

.w3-teal{
  background-image: url("../img/landing.jpg");
  background-size: contain;
  float: left;
}

.well#third-page{
  background-image: url("../img/foodsBg.jpg");
  background-repeat: no-repeat;
}

.row-centered{
  float: none;
  margin: 0 auto;
  display: block;

}
.container#clickable{
  width: 1000px;
  height: 50px;
  background-color: white;
  padding-right: 90px;
}

#clickable{
  text-align: center;
  margin-top: 10px;
}

.w3-bar{
  height: 70px;
}
.w3-btn{
  width: 200px;
  height: 50px;
  transition: all 0.3s;
  margin: 0;
}
.w3-btn:hover{
  color: #F15A29;
  background-color: white;
}
<<<<<<< HEAD
<<<<<<< HEAD
.container#hidden-images{
  width: 1000px;
  height: 260px;
  background-color: white;

=======
.drinks{
  text-align: right;
>>>>>>> 16e037bdbb4ee7fc6efd83e0442b9c75d87afdf0
}
.drinks{
  text-align: right;
}
<<<<<<< HEAD
=======
>>>>>>> Change text aligh to right.
=======
>>>>>>> 16e037bdbb4ee7fc6efd83e0442b9c75d87afdf0
.drinks{
  text-align: right;
}
.drinks{
  text-align: right;
}
